.profile-page{
    width: 100%;
    height: auto;
}
.profile-head{
    height: 70px;
}
.profile-body{
    height: calc(100% - 70px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8%;
    gap: 7%;
}
.profile-widget{
    flex-basis: 60%;
    height: 500px;
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.304);
    padding: 20px;
}
.groups-widget{
    flex-basis: 30%;
    height: 500px;
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.393);
    padding: 20px;
}
@media (max-width: 750px) {
    .profile-body{
        flex-direction: column;
    }
    .groups-widget{
        margin-top: 50px;
    }

}