.room-container{
  height: 100%;
  background-color: rgb(17, 18, 20);
}

/*Chat Window*/
.chat-window {
  height: 100%;
}
  
.chat-window p {
  margin: 0;
  padding: 0;
}
.chat-window .chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff0e;
  height: 60px;
  padding: 0 20px;
}
.chat-window .chat-header p{
  font-weight: bold;
}
.chat-meta-data{
  display: flex;
  align-items: center;
}
hr{
  color: #ffffff0e;
} 

  /*chat body*/
  .disclaimer{
    font-size: 0.7rem;
    text-align: center;
    color: rgb(114, 114, 114);
    margin: 10px;
  }
  .chat-window .chat-body {
  /*  height: calc(600px - (45px + 70px)); */
    margin: 5px;
    height: calc(100% - (140px));
    position: relative;
    border-radius: 5px;
  }
  .chat-window .chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .chat-window .chat-body .message-container::-webkit-scrollbar {
    display: none;
  }
  /* For WebKit-based browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #8888888c; /* Color of the scroll handle */
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll handle on hover */
  }
  
  .chat-window .chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
  }
  
  .chat-window .chat-body .message .message-content {
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 120px;
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  
  #you {
    justify-content: flex-end;
  }
  
  #you .message-content {
    justify-content: center;
  }
  
  #you .message-meta {
    justify-content: flex-end;
    margin-left: 5px;
  }
  
  #other {
    justify-content: flex-start;
  }
  
  #other .message-content {
    justify-content: center;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  }
  
  #other .message-meta {
    justify-content: flex-start;
    margin-right: 5px;
  }
  
  .message-meta #author {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .chat-window .chat-body .message .message-meta {
    display: flex;
    font-size: 12px;
  }
  
  .chat-window .chat-footer {
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  }
  
  .chat-window .chat-footer input {
    color: white;
    background-color: #ffffff21;
    height: 100%;
    width: calc(98% - (80px));
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    outline: none;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
  }
  
  .chat-window .chat-footer button {
    border: 0;
    cursor: pointer;
    width: 60px;
    height: 100%;
    outline: none;
    border-radius: 5px;
  }
  .chat-window .chat-footer button:hover{
    background-color: rgba(100, 196, 237, 0.984);
  }
  .hide {
    opacity: 0 !important;
  }
  .pointer{
    cursor: pointer;
  }
  .logout{
    border: 1px solid red;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 0, 0);
  }
  


  /*When not joined any room */
  .hall{
    height: 100%;
  }
  .hall-head{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hall .menuIcon{
    cursor: pointer;
  }
  .hall-main{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hall .hall-main p{
    text-align: center;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(255, 66, 66);
    color: rgb(255, 104, 104);  
  }