
/*Navbar*/
nav {
    height: 60px;
    width: 100%;
    background-color: rgb(29, 47, 81);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
  }