.menuContainer{
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(229, 229, 229);
    left: 0;
}
.closeIcon {
    padding: 10px 20px;
}
 
.joinRoom {
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  }
  
.joinRoom input {
    color: rgb(79, 79, 79);
    background-color: #ffffff8e;
    height: 100%;
    width: calc(98% - (80px));
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    outline: none;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.315);
  }
  
 .joinRoom button {
    border: 0;
    cursor: pointer;
    width: 60px;
    height: 100%;
    outline: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.315);
    border-radius: 5px;
  }
.joinRoom button:hover{
    background-color: rgba(100, 196, 237, 0.393);
}  