.menuContainer{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(17, 18, 30); 
  color: rgb(207, 207, 207);   
}
.searchComponent{
  height: 80px;
  position: sticky;
  top: 0;
}
.menu-body{
  overflow-y: scroll;
  height: calc(100% - 80px);
}
.menu-list{
  margin: 5px;
  padding: 0 10px;
}
.menu-list li{
  display: flex;
  align-items: center;
  margin: 15px 5px;
  padding: 15px 15px;
  list-style-type: none;
  gap: 35px;
  border-radius: 5px;
  transition: .2s;
}
.menu-list li:hover{
  color: white;
  background-color: rgba(240, 248, 255, 0.103);
}

/*Menu Body css*/
.sample-rooms {
  padding: 20px;
}
.room-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.room-item {
  transition: 0.3s;
  margin-bottom: 10px;
  font-size: 16px;
}

.room-item:hover {
  padding-left: 10px;
  color: white;
  cursor: pointer;
}

.gradient-heading {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  color: transparent;
  background-clip: text;
}
