/*Menu head section */

.searchContainer{
  position: relative;
  width: 100%;
}
.search {
  z-index: 1;
  backdrop-filter: blur(2px);
  padding: 15px 10px;
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}
.clearButton{
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  cursor: pointer;
  padding: 13px;
  font-size: 1em;
  outline: none;
  border-radius: 5px;
}
.search input {
  color: rgb(188, 188, 188);
  background-color: #ffffff21;
  height: 100%;
  flex-grow: 1;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  outline: none;
  border-radius: 5px;
}

.searchResult{
  position: absolute;
  margin: 10px;
  background-color: #222222;
  padding: 5px 5px;
  font-size: 1em;
  border-radius: 5px;
}