.auth-body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.831);
}
.auth-main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
    
  /*Join chat*/
.authContainer {
    margin: 15px;
    border: 1px solid cornflowerblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: 300px;
    border-radius: 10px;
    padding: 25px;
  }
  .authContainer h1 {
    font-size: 1.8rem;
  }
  .authContainer input {
    color: rgba(255, 255, 255, 0.831);
    width: 220px;
    background-color: #ffffff21;
    font-size: 15px;
    border: 0;
    padding: 0 1rem;
    outline: none;
    border-radius: 8px;
    transition: 0.2s;
    height: 50px;
    margin: 7px;
    border: none;
  }
  .authContainer input:focus {
    border-bottom: 2px solid cornflowerblue;
  }
  
  .authContainer button {
    width: 240px;
    height: 50px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    cursor: pointer;
    outline: none;
  }

  .authContainer button:hover {
    background: inherit;
  }
  .authContainer p:hover{
    cursor: pointer;
  }
  
  a{
    font-size: 13px;
    cursor: pointer;
  }