.App {
  width: 100vw;
  height: 100vh;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");



/*Notification*/
.custom-toast-container {
  margin-top: 20px;
  margin-right: 20px;
}


@media (max-width: 1000px) {
  .home img{
    position: absolute;
    opacity: 0.2;
    height: 100vh;
    z-index: -1;
  }
  .joinChatContainer{
    border: 1px solid rgba(0, 0, 0, 0.58);
  }
}